body {
    text-align:center;
    font-family:sans-serif;
}

#main-page {
    margin-top: 133px;
}

.form-page {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.form-checkbox {
    margin-bottom: 10px;
}

.img-account {
    width: 25px;
    height: 25px
}

.btn-end {
    margin-bottom: 25px;
}

.button:hover {
    background-color: #e4e4e4;
}
.slide-container {
    width: 100%;
    margin: 0 auto;
}
.slide-item img {
    width: 200px;
    height: 200px;
    background-color: #e4e4e4;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s ease-in-out;
}

/*Signup and login style*/
.header img{
    margin-left: 57px;
    margin-top: 50px;
    width: 35px;
    height: 35px;
}

.box {
    display:flex;
    justify-content:start;
} 

.left-box {
    width: 45%;
    margin-top: 2%;
    margin-left: 2%;
    border-right: 1px #000;
}

.left-box img {
    width: 100%;
}

.right-box {
    margin-left: 10%;
}

#login {
    text-align:center;
}


.form-input {
    width: 100%;
    height: 40px;
    margin-bottom: 25px;
}

#login a{
    text-align:left;
    color:gray;
}

.separador::before {
    content: "";
    width: 100%;
    position: absolute;
    top: 50%;
    height: 1px;
    background: rgb(204, 204, 204);
    left: 0px;
}

.separador {
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: 32px;
    margin-bottom: 32px;
    min-height: 22px;
}

.separador span {
    display: inline-block;
    margin: 0px auto;
    background: rgb(255, 255, 255);
    padding: 0px 1rem;
    position: relative;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    letter-spacing: normal;
}

#method-login button {
    font-family: sans-serif;
    width: 100%;
    height: 40px;
    text-align:center;
    border: 0px;
    border-radius: 3px;
}

#method-login-google {
    margin-bottom: 15px;
}

#method-login button img{
    padding-left: 10px;
    width: 15px;
    height: 15px;
    text-align:center;
}

#method-login button:hover {
    cursor: pointer;
}

#method-login-google:hover {
    background-color: #e94135;
}

#method-login-facebook:hover {
    background-color: #4867aa;
}

#method-login img {
    text-align:center;
    background-size: 100px 130px;
    height: 30px;  
    width: 30px;
}

#send {
    width: 100%;
    height: 40px;
    margin-top: 15px;
    border-radius: 3px;
    border: 1px;
}

#send:hover {
    cursor: pointer;
    background-color: #e4e4e4;
}

.products {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 25px;
}

.product {
    width: 300px;
    height: 300px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #000;
    margin-bottom: 20px;
}

.product img {
    width: 250px;
    height: 250px;
}

.product:hover {
    cursor: pointer;
}

.btn-more {
    display: none;
    width: 250px;
    height: 30px;
    margin-left: 8%;
    margin-top: 15px;
    border-radius: 3px;
    border: 1px;
    background-color: #e8e8e8;
}

.btn-more:hover {
    cursor: pointer;
    background-color: #d9d9d9;
}

.product-detaill {
    display: grid;
    grid-column-start: 2;
    grid-gap: 50px;
    grid-template-areas: 
        'image titulo'
        'image precio'
        'image descripcion'
        'image button';
}

.product-detaill img {
    grid-area: image;
    width: 500px;
    height: 500px;
}

.product-detaill h1 {
    grid-area: titulo;
}

.product-detaill h3 {
    grid-area: precio;
}

.product-detaill p {
    grid-area: descripcion;
}

.product-detaill input {
    grid-area: button;
    width: 100%;
    height: 40px;
    margin-top: 15px;
    border-radius: 3px;
    border: 1px;
}

#slide-menu{
    display: none;
    list-style-type: none;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #e8e8e8; 
    transition: 0.5s;
    padding-top: 60px;  
}

#slide-menu li:hover {
    cursor: pointer;
}

#user-cart-shop {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-areas:"product_cart product_cart product_cart resum_cart";
}

#cart-contend {
    grid-area: product_cart;
}

#resum-cart {
    grid-area: resum_cart;
}

.product_cart {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 25px;
    justify-content: space-between;
    align-items: center;
    border: solid 1px;
    margin-left: 5%;
    margin-right: 34%;
}

.product_cart_image img {
    width: 250px;
    height: 250px;
}
#delete-product-cart{
    align-self: start;
    justify-self: end;
}

@media (max-width: 1200px) {
    .left-box {
        display: none;
    }
    .right-box {
        padding-right: 48px;
        padding-left: 60px;
    }
    .box {
        justify-content:center;
    }

    .right-box {
        margin-left: 0%;
    }

    .header img {
        margin-left: 0px;
    }
    .products {
        grid-template-columns: auto auto auto;
    }
}

@media (max-width: 800px) {
    .products {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 600px) {
    .products {
        grid-template-columns: auto;
    }
}

